<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="csrf-token" content="<%= csrfToken %>">

  <title>
    <%= title %>
  </title>
  <script>
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    // method to delete session by its id by fetching the delete route
    function deleteSession(id) {
      fetch(`/sports/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          // csrf csrfToken
          _csrf: token

        })
      }).then((result) => {
        //redirect the page to updateSession
        if (result.ok) {
          window.location.reload()
        }
      }).catch((err) => console.error(err))
    }

    // update session by its id
    function updateSession(id) {
      fetch(`/updateSession/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          // csrf csrfToken
          _csrf: token

        })
      }).then((result) => {
        if (result.ok) {
          window.location.reload()
        }
      }).catch((err) => console.error(err))
    }

    function deleteSport(sport) {
      console.log(sport)
      fetch('/', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          sport: sport,
          _csrf: token
        })

      }).then(response => {
        if (response.ok) {
          // if the resposne is ok, then redirect
          window.location.href = '/scheduler'
        }
      }).catch((err) => console.error(err))

    }
    
  </script>
</head>

<body>


  <div class="grid grid-cols-6">
    <div class="col-start-2 col-span-4">
      
      <% if(user.role==='superadmin' || user.role === 'admin' ) { %>
        <div
          class="absolute top-2 right-5 mt-2 mr-2 flex ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
          onclick="deleteSport('<%= sport %>')">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>

        </div>
        <% } %>

          <a href="/scheduler"><h1 class="text-3xl font-bold mb-4 capitalize">Sessions for <%= sport %>
          </h1></a>
          <p class="py-2 font-bold text-lg"> <a class=" text-green-400" href="/newSession/<%= sport %>">Create My
            Session</a></p>
          <div>
            <%- include('sport.ejs', {title: "My Sessions" , data: userSession, allUsers: allUsers, user: user  }) %>
              <%- include('sport.ejs', {title: "Active Session" , data: activeSession, allUsers: allUsers, user: user }) %>
                <%- include('sport.ejs', {title: "Passed Session" , data: passedSession, allUsers: allUsers, user: user }) %>
                <%- include('sport.ejs', {title: "canceled Sessions" , data: inactiveSession, allUsers: allUsers, user: user }) %>
          </div>
          <button
            class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 m-2">
            <a href="/scheduler" class="text-gray-700">Go back</a>
          </button>

    </div>
  </div>
</body>

</html>